.skills {
    height: max-content;
    background-color: black;
    padding: 6em 0px;
    display: grid;
    justify-items: center;
}

.skills > div:nth-child(1) {
    width: 70vw;
}

.heading {
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 1.2em;
    display: flex;
    gap: 0.5em;
    color: white;
    align-items: center;
}

.heading__line {
    height: 4px;
    background-image: linear-gradient(to right, white, rgba(139, 134, 134, 0.307));
    animation: lineWidth 4s linear forwards;
}

@keyframes lineWidth {
    0% {
        width: 0%;
    }
    100% {
        width: 56vw;
    }
}

.subHeading {
    color: rgba(255, 255, 255, 0.772);
    font-size: 3rem;
}

.skills__ball {
    margin-top: 6em;
    margin-bottom: 6em;
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    gap: 5em;
}

.skills__ball > div {
    width: 130px;
}
