.skills{
    height: max-content;
    background-color: black;
    padding: 6em 0px;
    display: grid;
    justify-items: center;
    &>div:nth-child(1){
        width: 70vw;
       
    }

  
}
.heading{
    font-size: 1.7em;
    font-weight: 700;

    margin-bottom: 1.2em;
    display: flex;
    gap: 0.5em;
    color: white;
    align-items: center;

    &__line{
        height: 4px;
        background-image: linear-gradient(to right, white,rgba(139, 134, 134, 0.307));
        animation: lineWidth 4s linear forwards;
        // background-color: black;
    }

    @keyframes lineWidth {
        0%{
            width: 0%;
        }
        100%{
            width: 56vw;
        }
        
    }
}

.subHeading{
    color: rgba(255, 255, 255, 0.772);
    font-size: 3rem;

}

.skills__ball{
    margin-top: 6em;
    margin-bottom: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    gap: 4em;
    &>div{
        width: 130px;
    }
}

@media only screen and (max-width: 950px) {
    .heading{
        width: 70vw;
        font-size: 1em;
    }

    .subHeading{
        font-size: 2em;
    }

    @keyframes lineWidth {
        0%{
            width: 0%;
        }
        100%{
            width: 60vw;
        } 
    }

    .experience{
        padding: 4em 0em;
    }

    .skills__ball{
        gap: 3em;
       
        &>div{
            width: 80px;
            height: 60px;
        }
    }
}

