.contact{
    background-color: white;
    width: 70vw;
    color: black;
    border-radius: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;

    &>div:nth-child(1){
        font-size: 1.6rem;
        display: grid;
        gap: 1em;
    }

    &-email{
        font-size: 1.7rem;
        font-weight: 500;
    }

    &__button{
        display: flex;
        gap: 1em;
        
    }
}

.download_button{
    background-color: black ;
    padding: 1em 3em;
    color: white;
    border-radius: 35px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}


@media only screen and (max-width: 770px) {
    .download_button{
        font-size: 0.8rem;
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2em;
        align-items: center;
        padding: 1.5em;
        &>div:nth-child(1){
            font-size: 1.2em;
            display: grid;
            gap: 1em;
        }
        &__button{
            display: grid;
            gap: 1em;
        }

        &-email{
            font-size: 1.0rem;
            font-weight: 500;
        }
    }
   
    
}

@media only screen and (min-width: 779px) and (max-width:1000px) {
    .download_button{
        font-size: 0.8rem;
    }
    .contact{
        display: flex;
        justify-content: space-around;
        gap: 2em;
        align-items: center;
        padding: 1.5em;
        &>div:nth-child(1){
            font-size: 1em;
            display: grid;
            gap: 1em;
        }
        &__button{
            display: grid;
            gap: 1em;
        }

        &-email{
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
   
    
}