.experience {
    height: 100vh;
    padding-left: 20rem;
    padding-top: 6rem;
    // display: grid;
    // justify-content: start;


    &>div:nth-child(1) {
        font-size: 3vw;
        color: rgb(99, 97, 97) !important;
        font-weight: 500;
        height: max-content;
    }

    &> div:nth-child(2){
        margin-top: 2.5rem;
    }

    & > div:nth-child(3){
        margin-left: 4rem;
        display: grid;
        gap: 4rem;
    }

    &-card {
        width: 50vw;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        padding: 1em;
        line-height: 1.5em;
        height: max-content;
        border: solid 5px black;

    }


}

.hand-drawn-line {
    position: relative;
    /* Adjust height as needed */

}

.hand-drawn-line::before {
    content: "";
    position: absolute;
    left: 0;
    width: 3px;
    height: 0vh;
    border-left: 5px solid;
    border-image: linear-gradient(to bottom, black 0%, rgb(132, 131, 131) 50%, transparent 100%) 1;
    
    /* Adjust thickness as needed */
    /* Line color */
    transform-origin: left;
    line-height: 1.5em;
    animation: draw 3s linear forwards ;
    /* Adjust animation duration as needed */
}

@keyframes draw {
    0% {
        height: 0vh;
    }

    100% {
        height: 70vh;
    }
}

