.experience {
   height: 100%;
    padding: 5em;
    border: solid 5px black;
    clip-path: inset(0 100% 100% 0);
    animation: drawBorder 8s forwards;
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
    // animation-range: entry 50% contain 50%;
    // animation-delay: 4s;

    &>div:nth-child(1){
        display: grid;
        height: 100%;
        max-width: 70vw;
        justify-content: center;
    
        &>div{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: start;
            gap: 2vw;
        }
    }

    &--date{
        font-size: 14px;
        color: grey;
        margin-top: 1em;

    }

    &--title{
        font-size: 2.3em;
        margin-bottom: 0.5rem;
 
    }

    &--company{
        font-size: 1.2em;
        font-weight: 700;
        color: grey;
    }

    &--description{
        width: 50vw;
        line-height: 30px;
        font-size: 1.2em;
        margin-top: 2rem;
    }

    @media only screen and (max-width: 900px) {
        .experience{
            padding: 2em;
        }
        &--date {
          display: none;
        }

        &--title{
            font-size: 1.6em;
        }

        &--company{
            font-size: 1em;
        }

        &--description{
            width: 100%;
            font-size: 1em ;
            line-height: 1.6em;
        }

        &>div:nth-child(1){
            width: 90vw;
        
            &>div{
                grid-template-columns: repeat(1, 1fr);
            }
        }
        
      }



    @keyframes drawBorder {
        0% {
            clip-path: inset(0 100% 100% 0);

        }


        100% {
            clip-path: inset(0 0 0 0);
        }
    }

}

.next-link {
    position: absolute;
    bottom: 0;
    display: grid;
    justify-items: center;
    
    &>span {
      font-size: 1rem;
      cursor: pointer;
    }
  
  
  
    &__line{
      content: "";
      // position: absolute;
      // left: 0;
      width: 3px;
      height: 0vh;
      background-color: black;
     
  
      /* Adjust thickness as needed */
      /* Line color */
      transform-origin: left;
      line-height: 1.5em;
      animation: draw 3s linear forwards 1;
      /* Adjust animation duration as needed */
    }
  
    @keyframes draw {
      0% {
        height: 0vh;
      }
  
      100% {
        height: 4vh;
      }
    }
}