.experience {
    width: 70vw;
    padding: 6em 0em;
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
}

.experience > div:nth-child(1) {
    display: grid;
    gap: 4rem;
    height: 100%;
    max-width: 70vw;
    justify-content: center;
}

.experience > div:nth-child(1) > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 2vw;
}

.experience--date {
    font-size: 14px;
    color: grey;
    margin-top: 1em;
}

.experience--title {
    font-size: 2.3em;
    margin-bottom: 0.5rem;
}

.experience--company {
    font-size: 1.2em;
    font-weight: 700;
    color: grey;
}

.experience--description {
    width: 50vw;
    line-height: 30px;
    font-size: 1.2em;
    margin-top: 2rem;
}

@media only screen and (max-width: 900px) {
    .experience {
        padding: 2em;
    }

    .experience--date {
        display: none;
    }

    .experience--title {
        font-size: 1.6em;
    }

    .experience--company {
        font-size: 1em;
    }

    .experience--description {
        width: 100%;
        font-size: 1em;
        line-height: 1.6em;
    }

    .experience > div:nth-child(1) {
        width: 90vw;
    }

    .experience > div:nth-child(1) > div {
        grid-template-columns: repeat(1, 1fr);
    }
}

.heading {
    width: 70vw;
    font-size: 1.7em;
    font-weight: 700;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.heading__line {
    height: 4px;
    background-image: linear-gradient(to right, black, rgba(139, 134, 134, 0.513));
    animation: lineWidth 4s linear forwards;
}

@keyframes lineWidth {
    0% {
        width: 0%;
    }
    100% {
        width: 56vw;
    }
}

.experience-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
