

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

html,
body {
  max-width: 100vw;
 

}

body {
  /* background-color: white; */

  background-color: white;
  /* background-image: linear-gradient(276deg, #f1ebdee6, rgb(242, 238, 228)); */
  color: black;
 
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}





