

.main {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  color: black;
}

.hero-section {
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  align-items: center;
  &>div:nth-child(2){
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2em;
    width: 70vw;
  }
}

.name {
  font-size: 3em;
  font-weight: 500;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
 
}

.social-button{
  background-color: transparent;
  cursor: pointer;
  margin: 0px;
  padding: 0px !important;
  border: none;
  outline: none;
}


/* Config */
$color-bg: white;
$color-particle: rgba(185, 177, 177, 0.179);
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 200s;

/* mixins */
@function particles($max) {
  $val: 0px 0px $color-particle;
  @for $i from 1 through $max {
    $val: #{$val}, random($spacing)+px random($spacing)+px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}


.particle, .particle:after {
 
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: $spacing;
}

.particle_1 {
  animation: animParticle $time-1 liner infinite;
  @include particles(80);
  height: 7px;
  width: 7px;
  
}

.particle_1:after {
  @include particles(80);
  height: 7px;
  width: 7px;
}

.particle_2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(80);
  height: 7px;
  width: 7px;
}

.particle_2:after {
  @include particles(80);
  height: 7px;
  width: 7px;
}

.particle_3:after {
  @include particles(80);
  height: 7px;
  width: 7px;
  border-radius: 50%;
}

.particle_4 {
  animation: animParticle $time-4 linear infinite;
  @include particles(80);
  height: 7px;
  width: 7px;
  
}

.particle_4:after {
  @include particles(80);
  height: 7px;
  width: 7px;
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY($spacing * -1);
  }
}

.page_wrapper {
  text-align: center;
  color: #fff;
  z-index: 2;
}


@media only screen and (max-width: 600px) {
  .name{
    font-size: 2em;
  }

}

