@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
.main {

  height: 100vh;
  color: black;

  cursor: url('https://png.pngtree.com/png-vector/20190411/ourmid/pngtree-vector-pencil-icon-png-image_925398.jpg'), pointer;
}

.hero-section{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name{
  font-family: 'Fredericka the Great', cursive;
  font-size: 8vw;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.socialLinks{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0rem;

  &>button{
    padding: 1rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;


      // border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  }
  
}

.scroll-button{
  background-color: transparent;
  border: none !important;
  padding: 1.2rem 0.3rem 0.3rem 0.3rem;
  border-radius: 45% !important;
  border: 2px solid black !important;
  margin-bottom: 3rem;

  &>img{
    transform: rotateX(180deg);
    animation: bounceOnce 2s linear 4s 3;
    
  }
 
  @keyframes bounceOnce {
    0% {
      transform: translateY(0) rotateX(180deg);
  }
  50% {
      transform: translateY(-7px) rotateX(180deg); /* Adjust the bounce height as needed */
  }
  100% {
      transform: translateY(0) rotateX(180deg);
  }
}


}
